.main {
  position: relative;
}

.main__circle:first-child {
  content: "";
  width: 45%;
  height: 70%;
  background: rgba(0, 163, 255, 0.5);
  filter: blur(100px);
  border-radius: 100%;
  position: absolute;
  top: -180px;
  left: -140px;
  z-index: 2;
}
.main__circle:nth-child(2) {
  content: "";
  width: 45%;
  height: 70%;
  background: rgba(99, 38, 175, 0.5);
  filter: blur(100px);
  border-radius: 100%;
  position: absolute;
  top: -180px;
  right: -140px;
  z-index: 2;
}
.main__circle:last-child {
  content: "";
  width: 45%;
  height: 70%;
  background: rgba(0, 163, 255, 0.5);
  filter: blur(100px);
  border-radius: 100%;
  position: absolute;
  bottom: -180px;
  right: -140px;
  z-index: 2;
}