.sidebar {
  padding-top: 2rem;
}

.sidebar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30%;
}
.sidebar__logo svg {
  width: 5rem;
  height: 5rem;
}

.sidebar__icons {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

.sidebar__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
}
.sidebar__icon svg {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  opacity: 0.5;
}
.sidebar__icon:hover svg {
  opacity: 1;
}

.sidebar__turn {
  margin-top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
}

.sidebar__turn-item {
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
}
.sidebar__turn-item svg {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  opacity: 0.5;
}
.sidebar__turn-item:hover svg {
  opacity: 1;
}