.btn {
    color: #fff;
    background-color: rgb(67, 140, 250);
    min-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;

    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: #fff;
        color: rgb(67, 140, 250);
    }
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 20px;
        background: -webkit-gradient(linear,left top,right top,color-stop(10%,hsla(0,0%,100%,.1)),color-stop(20%,hsla(0,0%,100%,.2)),to(hsla(0,0%,100%,.6)));
        background: linear-gradient(90deg,hsla(0,0%,100%,.1) 10%,hsla(0,0%,100%,.2) 20%,hsla(0,0%,100%,.6));
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
        left: -20%;
        -webkit-transition: all .6s ease;
        transition: all .6s ease;
        -webkit-animation-name: blick;
        animation-name: blick;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @media (max-width: 550px) {
        min-height: 3rem;
    }
}

@keyframes blick {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
  }