.btn {
    background: #249842;
    border-radius: 7px;
    padding: 2rem;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #FFFFFF;
    cursor: pointer;

    font-family: 'Golos Text', sans-serif;

    &:hover {
        background-color: darken(#249842, 5%);
    }

    @media (max-width: 361px) {
        font-size: 1.2rem;
        padding: 1.3rem 2rem;
    }

    @media (max-height: 364px) {
        padding: .7rem 2rem;
    }
}