.card__header {
    transform: translateX(-100%);
    transition: all .2s linear;
    opacity: 0;

    &._active {
        transform: translateX(0);
        opacity: 1;
    }
}

.card__slider {
    margin-top: 10rem;
    position: relative;
}
.card__photo {
    width: 100%;

    img {
        width: 100%;
    }

    @media (max-width: 480px) {
        img {
            
        }
    }
}

/* Слайдер */
.slick-slider {}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) 
*/.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.card__slider .slick-arrow{
    font-size: 0;
    width: 3rem;
    height: 3rem;

    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url("/assets/img/catalog/arrow-l.svg") center no-repeat;
    background-color: #DBA237;
    border-radius: 50%;
    opacity: 1;
    left: 2rem;

    cursor: pointer;

    @media (min-width: 1600px) {
        left: 10%;
    }
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    background: url("/assets/img/catalog/arrow-r.svg") center no-repeat;
    background-color: #DBA237;
    border-radius: 50%;
    opacity: 1;
    right: 2rem;

    cursor: pointer;

    @media (min-width: 1600px) {
        right: 10%;
    }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
    background-color: #DBA237;
    border-radius: 50%;
    opacity: .5;
}
/* Точки (булиты) */
.card__slider .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}.card__slider .slick-dots li{
    opacity: 0.5;
    background-color: #6B6B6B;
    width: 3rem;
    height: 0.3rem;

    margin-right: 1rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}
/* Активная точка */
.slick-dots li.slick-active{
    background-color: #DBA237;
    opacity: 1;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
}