.clients {
    margin-top: 10rem;
}
.clients__container {
}
.clients__header {
    margin-bottom: 12.4rem;
    margin-left: 8.2rem;

    @media (max-width: 535px)  {
        margin-left: 2rem;
    }
}
.clients__inner {
    width: 100%;
    background: rgba(242, 237, 223, 0.1);
    padding: 4rem 0;
}
.clients__body {
    display: flex;
    justify-content: space-between;
    max-width: 1265px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    align-items: center;

    @media (max-width: 850px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.clients__item {
    @media (max-width: 850px) {
        flex: 0 1 33.333%;
        text-align: center;
        margin-bottom: 3rem;
        padding: 0 1rem;

        img {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
    }
}