.contact {
    width: 100%;
    background-color: #053b81;
    padding: 8rem 0 7rem;
}
.contact__container {
}
.contact__title {
    text-align: center;
    margin-bottom: 3rem;

    font-weight: 700;
    font-size: 3.6rem;
    line-height: calc(44 / 36);
    color: #fff;
    
    @media (max-width: $tablet) {
        font-size: 3rem;
    }
}
.contact__text {
    text-align: center;
    max-width: 52rem;
    margin: auto;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}
.contact__form {
    display: flex;
    justify-content: space-between;
    max-width: 83.3rem;
    margin: auto;
    margin-bottom: 2rem;

    @media (max-width: $tablet) {
        max-width: 50rem;
        flex-wrap: wrap;
    }
}
.contact__item {
    flex: 0 1 31%;
    input {
        width: 100%;
        
        &::placeholder {
            font-weight: 500;
        }
    }
    
    .btn {
        width: 100%;
    }

    @media (max-width: $tablet) {
        flex: 1 1 100%;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.contact__politic {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;

    span {

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}