.cost {
    margin-bottom: 30rem;

    @media (max-width: 769px) {
        margin-bottom: 10rem;
    }
}
.cost__container {
}
.cost__title {
    font-size: 5rem;
    line-height: calc(64 / 50);
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;   
    
    margin-bottom: 5.2rem;
    opacity: 0;
    transition: all 1s linear;

    @media (max-width: 577px) {
        font-size: 3.5rem;
    }

    &._active {
        opacity: 1;
    }
}
.cost__inner {
    display: flex;
    margin: 0 -1.3rem;

    @media (max-width: 769px) {
        flex-wrap: wrap;
    }
}
.cost__col {
    flex: 0 1 33.333%;
    padding: 0 1.3rem;
    transition: all .4s ease 0s;
    opacity: 0;

    @media (max-width: 769px) {
        flex: 0 1 50%;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
            flex: 1 1 100%;
        }
    }

    @media (max-width: 556px) {
        flex: 1 1 100%;
    }

    &:first-child {
        transform: translateX(-100%);
    }

    &:nth-child(2) {
        opacity: 0;

        @media (max-width: 556px) {
            transform: translateX(100%);
        }
    }

    &:last-child {
        transform: translateX(100%);

        @media (max-width: 556px) {
            transform: translateX(-100%);
        }
    }

    &._active {
        transform: translateX(0);
        opacity: 1;

        transition: all .4s ease .4s
    }
}
.cost__item {
    background: #0C2144;
    border-radius: 16px;
    text-align: center;
    padding: 5.6rem 3.9rem 2rem;
    cursor: pointer;
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    *:not(:last-child) {
        margin-bottom: 2.4rem;
    }

    border: 1px solid;
    transition: all .2s linear;

    &:hover {
        background-color: #002B72;

        &:before {
            content: "";
            background: linear-gradient(35deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            -webkit-mask-image: radial-gradient(transparent 0 65px, #000 65.5px);
            mask-image: radial-gradient(transparent 0 65px, #000 65.5px);
    
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            z-index: -1;
            border-radius: 1.6rem;
        }
    }

    @media (max-width: 992px) {
        padding: 5.6rem 1.5rem 2rem;
    }
}
.cost__item-icon {
}
.cost__item-title {
    font-size: 2rem;
    line-height: calc(32 / 24);
    text-transform: capitalize;
    color: #FFFFFF;   
    
    @media (max-width: 992px) {
        font-size: 1.6rem;
    }
}
.cost__item-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 171%;
    color: #ADB9C7;
}
.cost__item-cost {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(32 / 18);
    text-transform: capitalize;
    color: #FFFFFF;
}