.do {
    margin: 20rem 0;
}
.do__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.do__photo {
    width: 100%;
    max-width: 526px;
    position: relative;
    display: flex;

    &:before {
        content: "";
        background: linear-gradient(94.26deg, #C89AFC, #7C6AFA);
        width: 526px;
        height: 499px;
        
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
    }

    &:after {
        content: "";
        background: #000;
        width: 469px;
        height: 436px;
        
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
    }

    img {
        position: relative;
        z-index: 2;
        max-width: 446px;
        margin: 0 auto -13rem;
    }
}
.do__content {
    width: 100%;
    max-width: 63.6rem;
}
.do__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}
.do__text {
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;

    margin-top: 4.5rem;
}