.docs {
    margin: 10rem 0;
}
.docs__title {
    margin-bottom: 4.8rem;
}
.docs__inner {
    display: flex;
    margin: 0 -1.55rem;
}
.docs__col {
    flex: 0 1 25%;
    padding: 1rem 1.55rem;
}
.docs__item {
    padding: 2.8rem 2rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.1);
    
    @media (max-width: $tablet) {
        padding: 1rem;
    }
}