.export {
    margin: 9rem 0 10rem;
}
.export__container {
}
.export__title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: calc(59 / 48);
    color: #000000;

    margin-bottom: 4.8rem;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .3s linear;

    &._active {
        transform: translateX(0);
        opacity: 1;
    }
}
.export__body {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 4.9rem 1rem 4.3rem;

    transform: translateX(100%);
    opacity: 0;
    transition: all .3s linear;

    &._active {
        transform: translateX(0);
        opacity: 1;
    }
}
.export__content {
    max-width: 83.2rem;
    margin: auto;
}
.export__body-title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: сфдс(44 / 36);
    color: #000000;

    margin-bottom: 3rem;

    span {
        color: #098FCF;
    }

    @media (max-width: $tablet) {
        font-size: 3rem;
    }
}
.export__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }
}
.export__form-col {
    flex: 0 1 32%;

    @media (max-width: $tablet) {
        flex: 0 1 48%;
        margin-bottom: 2rem;

        &:last-child {
            flex: 1 1 100%;
            margin-bottom: 0;
        }
    }
}
.export__form-item {
    margin-bottom: 0.8rem;

    input {
        width: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.export__form-item {
    .btn {
        width: 100%;
    }
}
.export__form-check {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    max-width: 35.6rem;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    color: #000000;
    position: relative;
    cursor: pointer;
    input {
        display: none;
    }

    &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: #F9F9F9;
        border: 1px solid #D5D5D5;

        margin-right: 1.6rem;
        cursor: pointer;

        @media (max-width: $tablet) {
        }
    }

    &:after {
        content: "";
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: .7rem;
        left: .5rem;
        background-image: url("/assets/img/mark.svg");
        background-repeat: no-repeat;
        transform: scale(0);
        cursor: pointer;
    }

    &.active {
        &:after {
            transform: scale(1);
        }
    }

    @media (max-width: $tablet) {
        font-size: 1rem;
    }
}