.filter__body {
    width: 100%;
    min-height: 8rem;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(50px);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.8rem;
    
    --notchSize: 20px;
    
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
} 

.filter {
    position: relative;
    &:after {
        content: "";
        width: 5px;
        height: 5px;
        box-shadow: 14px 0 rgba(202, 25, 116, 1), 9px 5px rgba(202, 25, 116, 1), 4px 10px rgba(202, 25, 116, 1), 0 15px rgba(202, 25, 116, 1), 14px 74px rgba(202, 25, 116, 1), 9px 69px rgba(202, 25, 116, 1), 4px 64px rgba(202, 25, 116, 1), 0 59px rgba(202, 25, 116, 1);

        position: absolute;
        left: 0;
        top: 0;
    }   
}

.button-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filter__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter__left {
    display: flex;
}
.filter__left-item {
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}
.button-filter {
    display: flex;
    align-items: center;
    background: none;
}