.form {
    margin-bottom: 5rem;
}
.form__container {
}
.form__header {
}
.form__body {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}
.form__photo {
    width: 50%;
    height: 40rem;
    background-color: rgb(157, 157, 157);
    border-radius: 2rem;
    margin-right: 2rem;

    transform: translateX(-100%);
    transition: all .2s linear;

    &._active {
        transform: translateX(0);
    }

    @media (max-width: 768px) {
        margin-right: 0;
        width: 100%;
        max-width: 30rem;
        margin: 2rem auto 0;
    }
}
.form__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40rem;

    transform: translateX(100%);
    transition: all .2s linear;

    &._active {
        transform: translateX(0);
    }

    @media (max-width: 768px) {
        min-height: 25rem;
        width: 100%;
    }
}
.form__body-title {
    text-align: center;
    font-size: 2rem;
    color: rgb(67, 140, 250);
    margin-bottom: 2rem;
}
.fill {
    width: 100%;
}
.fill__item {
    width: 100%;
    margin-bottom: 1rem;

    label {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        margin-bottom: .5rem;
        font-style: italic;
    }

    input {
        width: 100%;
        min-height: 3rem;
        background-color: #fff;
        border: 1px solid rgb(195, 195, 195);
        outline: 0;
        font-family: 'Montserrat', sans-serif;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.form__checkbox {
    position: relative;
    input {
        display: none;
    }
}
.form__checkbox-body {
    &:before {
        content: "";
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        border: 1px solid rgb(67, 140, 250);

        position: absolute;
        top: 0;
        left: 0;
        border-radius: .3rem;
        z-index: 2;
        cursor: pointer;
    }

    &.active {
        &:before {
            background-color: rgb(67, 140, 250);
        }

        .form__checkbox-mark {
            opacity: 1;
            z-index: 3;
        }
    }
}
.form__checkbox-text {
    font-size: 1.4rem;
    color: rgb(195, 195, 195);
    padding-left: 3rem;
}
.form__checkbox-mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    z-index: -1;
    left: 0.2rem;

    display: flex;
    align-items: center;
    opacity: 0;
    cursor: pointer;

    img {
        width: 100%;
    }
}
.form__btn {
    width: 100%;

    button {
        width: 100%;
        background-color: rgb(67, 140, 250);
        color: #fff;

        &:hover {
            background-color: darken(rgb(67, 140, 250), 5%);
        }
    }
}