.garage {
    margin-top: 5rem;
    position: relative;
    width: 100%;
    height: 100vh;

    @media (max-width: 600px) {
    }
}
.garage__container {
    position: relative;
    z-index: 10;
}
.garage__title {
    margin-bottom: 3rem;
}
.garage__form {
    width: 100%;
    display: flex;
    margin-bottom: 4.1rem;
    input {
        background: #FFFFFF;
        border-radius: 5px;

        min-height: 5.5rem;
        width: 95%;

        font-weight: 500;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #90A4AF;
        padding: 0 3rem;
        outline: 0;

        &::placeholder {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            color: #90A4AF;
        }
    }
}
.garage__form-search {
    width: 5.9rem;
    height: 5.5rem;
    background: #2B74B9;
    border-radius: 0px 5px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.garage__inner {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;

    @media (max-width: 880px) {
        flex-wrap: wrap;
    }
}
.garage__col {
    flex: 0 1 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;

    @media (max-width: 880px) {
        flex: 0 1 50%;
    }

    @media (max-width: 600px) {
        flex: 1 1 100%
    }
}
.garage__item {
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;

    @media (max-width: 600px) {
        display: flex;
        border-radius: 1rem;
    }
}
.garage__item-close {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);

    width: 14%;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        top: -2.5rem;
    }

    img {
        width: 100%;
    }

    @media (max-width: 880px) {
        display: none;
    }
}
.garage__photo {
    img {
        width: 100%;
        border-radius: .5rem .5rem 0 0;
    }

    @media (max-width: 600px) {
        width: 17rem;

        img {
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: .5rem 0 0 .5rem;
        }
    }
}
.garage__content {
    padding: 2rem;
    min-height: 26.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 600px) {
        flex-grow: 1;
        min-height: auto;
    }
}
.garage__content-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: calc(22 / 18);
    color: #253238;
}
.garage__content-blocks {
    @media (max-width: 600px) {
        *:not(:first-child) {
            display:none;
        }
    }
}
.garage__content-block {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #455B66;
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    span {
        color: rgba(144, 164, 175, 1);
    }

    @media (max-width: 880px) {
        &:last-child {
            display: none;
        }
    }

    @media (max-width: 600px) {
        margin-bottom: 0.6rem;
    }
}
.garage__content-bottom {
    background: #FCF6A0;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;

    @media (max-width: 880px) {
        display: none;
    }
}
.garage__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
.garage__content-name {
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    color: #636146;
}
.garage__content-phone {
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    color: #636146;
}
.garage__content-recommend {
    font-size: 1.2rem;
    line-height: calc(14 / 12);
    color: #636146;
}
.garage__bottom-mob {
    display: none;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 880px) {
        display: flex;
    }
}
.garage__bottom-mob-recommend {
    border: 1px solid #B0BFC6;
    border-radius: 3px;
    padding: 1.3rem 1.4rem;

    @media (max-width: 600px) {
        padding: .6rem 1.4rem;
    }
}
.garage__bottom-mob-name {
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    color: #455B66;
    margin-bottom: 0.3rem;

    @media (max-width: 600px) {
        font-size: 1.2rem;
    }
}
.garage__bottom-mob-text {
    font-size: 1.2rem;
    line-height: calc(14 / 12);
    color: #90A4AF;

    @media (max-width: 600px) {
        font-size: 1.1rem;
    }
}
.garage__bottom-mob-close {
    @media (max-width: 600px) {
        display: none;
    }
}
.garage__item-mob {
    background: #617E8C;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -.5rem;
    z-index: -1;

    display: none;

    @media (max-width: 600px) {
        display: block;
    }
}