.guide {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
}
.guide__col {
    &:first-child {
        width: 31%;
    }

    &:last-child {
        width: 66%;
    }
}
.guide__tabs {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12.5px);
    height: 100%;
    padding: 3rem;
    border-radius: 3rem;
}
.guide__tabs-item {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(27.5px);
    border-radius: 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    margin-bottom: 2rem;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background: #408CFF;

        .guide__tabs-arrow {
            svg {
                fill: #fff;
            }
        }
    }
}
.guide__tabs-left {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.guide__tabs-icon {
}
.guide__tabs-text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    color: #FFFFFF;
    margin-left: 1rem;
}
.guide__tabs-arrow {
    padding-right: 2rem;
    fill: #575B69;

    svg {
        width: 2rem;
        height: 2rem;
    }
}
.guide__content {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12.5px);
    border-radius: 3rem;

    padding: 4.5rem 4rem;
}
.guide__content-header {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding-bottom: 3.5rem;
}
.guide__content-item {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.guide__content-text {
    margin-top: 3rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 179%;
    color: #AFBBE9;

    span {
        display: block;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 156%;
        color: #FFFFFF;
    }
}