.header {
    width: 100%;
    padding:  1.5rem 0 .8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; 
    border-bottom: 0.6px solid #F2EDDF;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    @media (max-width: 1345px) {
        flex: 0 1 100px;

        img {
            width: 100%;
        }
    }
}
.header__nav {
}
.nav {
}
.nav__inner {
    display: flex;

    li {
        margin-right: 2.5rem;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1345px) {
            margin-right: 2rem;
        }

        @media (max-width: 1210px) {
            flex: 0 1 25%;
            margin-right: 0;
        }
    }

    @media (max-width: 1210px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2rem;
    }

    @media (max-width: 800px) {
        display: none;
    }
}
.nav__link {
    font-size: 1.5rem;
    line-height: calc(18 / 15);
    color: #E3E3E3;
    position: relative;

    &:after {
        content: "";
        width: 0;
        display: block;
        height: 1px;
        background-color: #fff;

        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all .2s linear;
    }

    &:hover {
        color: #fff;

        &:after {
            width: 100%;
        }
    }

    @media (max-width: 992px) {
        font-size: 1.2rem;
    }
}
.header__tel {
    font-size: 2rem;
    line-height: calc(24 / 20);
    color: #F2EDDF; 
    white-space: nowrap;
    margin-right: 1rem;
    
    @media (max-width: 1345px) {
        font-size: 1.4em;
    }
}
.header__social {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
        display: none;
    }
}
.header__social-item {
    color: #F2EDDF;
    font-size: 1.9rem;
    width: 1.7rem;
    margin-right: 1.6rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    svg {
        width: 1.7rem;
        height: 2.6rem;
        fill: #F2EDDF;
    }

    &:hover {
        color: #EA6419;

        svg {
            fill: #EA6419;
        }
    }
}