.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__block {
    box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 6%);
    background-color: #142C4A;
    
    .header__container {
        .header__top {
            .header__search {
                input {
                    border: 2px solid #bfbfbf;
                }
            }
        }
    }
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__left {
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: all .2s linear;
    opacity: 0;

    &._active {
        transform: translateX(0);
        opacity: 1;
    }
}
.header__logo {
}
.header__list {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    font-family: 'Sofia Sans Condensed', sans-serif;

    li {
        position: relative;
        width: 20%;
        padding-left: 2rem;
    
        &:before {
            content: "";
            width: 100%;
            height: 0.3rem;
            background-color: #cfcfcf;
            opacity: 0.5;
            border-radius: 1rem;
    
            position: absolute;
            top: -1rem;
            left: 0;
        }

        &:after {
            content: "";
            width: 0.2rem;
            height: 50%;
            background-color: #cfcfcf;
            opacity: 0.5;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                display: none;
            }
        }

        &:hover {
            &:before {
                background-color: rgb(67, 140, 250);
                opacity: 1;
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}
.header__link {
    font-size: 2.2rem;
    color: #fff;
    position: relative;
    transition: all .2s linear;

    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        color: rgb(7, 96, 230);

        &:before {
            transform: translateX(0%);
            opacity: 1;
        }

        &:after {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}
.header__search {
    width: 100%;
    max-width: 30rem;
    position: relative;
    min-height: 3rem;
    transform: translateX(100%);
    transition: all .2s linear;
    opacity: 0;

    input {
        width: 100%;
        min-height: 3rem;
        background-color: none;
        border: 1px solid #fff;
        font-family: 'Montserrat', sans-serif;
        padding: 0 1rem;
        font-weight: 600;

        &::placeholder {
            color: #fff;
        }
        
        &:focus {
            outline: 0;
            border: 2px solid rgb(67, 140, 250);
            box-shadow: 0 -0px 2px 1px rgb(67, 140, 250);
        }
    }

    &._active {
        transform: translateX(0);
        opacity: 1;
    }

    @media (max-width: 768px) {
        margin: 0 1rem;
    }
}

.header__search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    svg {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        cursor: pointer;
    }

    &:hover {
        svg {
            fill: rgb(67, 140, 250);
        }
    }
}

.header__burger {
    position: relative;
    width: 3rem;
    height: 1rem;
    z-index: 1000;
    display: none;
    transition: all .2s linear;

    &:after,
    &:before,
    span {
        width: 100%;
        height: 1.5px;
        background-color: #FFFFFF;
        border-radius: 2px;

        position: absolute;
        right: 0;
        transition: all .2s linear;
    }

    &:before {
        content: "";
        top: -3px;
    }

    &:after {
        content: "";
        bottom: -3px;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 768px) {
        display: block;
    }

    &.active {
        span {
            display: none;
        }

        &:before {
            transform: rotate(45deg);
            top: 50%;
        }

        &:after {
            transform: rotate(-45deg);
            top: 50%;
        }
    } 
}
