.help {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.help__content {
    display: flex;
    justify-content: space-between;
}
.help__left {
    max-width: 244px;
    margin: auto;
}
.help__left-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 140%;
    color: #000000;  
}
.help__right {
    width: 34%;
    position: relative;

    &:after {
        content: "";
        width: 2px;
        height: 100%;
        background-color: #000;

        position: absolute;
        top: 0;
        right: -2px;
    }

    &:before {
        content: "";
        width: 2.5px;
        height: 100%;
        background-color: #000;

        position: absolute;
        top: 0;
        left: 0;
    }
}
.help__right-decor {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}
.help__right-1 {
    transform: rotate(-45deg);

    margin-bottom: 30px;
}
.help__right-2 {
    margin-bottom: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(50%, -50%);
    margin-bottom: 30px;
}
.help__right-3 {
    transform: rotate(45deg);
    margin-top: 150px;
}