.how {
    margin-top: 4rem;
}
.how__container {
}
.how__title {
    margin-bottom: 6rem;
}
.title-block {
}
.how__text {
    font-size: 1.6rem;
}
.how__body {
    margin-top: 6rem;
}
.how__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.how__value {
}
.how__value-number {
    padding: 2.5rem;
    font-size: 3.3rem;
    width: 10rem;

    background: #7fbb00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    @media (max-width: 769px) {
        padding: 1.5rem;
        width: 8rem;
    }
}
.how__item-text {
    margin-left: 3rem;
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Bebas Neue', Helvetica, sans-serif;

    @media (max-width: 769px) {
        font-size: 2.3rem;
    }
}