.ideas {
    margin-bottom: 13.1rem;

    @media (max-width: 535px) {
        margin-bottom: 7rem;
    }
}
.ideas__container {
    max-width: 1264px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
}
.ideas__header {
}
.ideas__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
}
.ideas__main-text {
    font-size: 2rem;
    line-height: calc(24 / 20);
    text-align: right;
    color: #838383;
    max-width: 228px;
    transform: translateX(100%);
    opacity: 0;
    transition: all .3s linear;

    @media (max-width: 768px) {
        display: none;
    }

    &._active {
        opacity: 1;
        transform: translateX(0);
    }
}
.ideas__row {
    margin-bottom: 5.8rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all .2s linear;

    &:last-child {
        margin-bottom: 0;
    }

    &._active {
        opacity: 1;
        transform: translateY(0);
    }
}
.ideas__row-header {
    font-size: 2rem;
    line-height: calc(24 / 20);
    color: #FFFFFF;
    border-bottom: 1px solid #747474;
    padding-bottom: 5px;
    margin-bottom: 4.4rem;
}
.ideas__row-inner {
    display: flex;
    margin: 0 -1rem;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}
.ideas__row-col {
    flex: 0 1 20%;
    padding: 0 1rem;

    &:last-child {
        display: none;
    }

    @media (max-width: 992px) {
        flex: 0 1 33.333%;
        margin-bottom: 2rem;
    }

    @media (max-width: 768px) {
        flex: 0 1 50%;

        &:last-child {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.ideas__row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: rgba(242, 237, 223, 0.1);
    box-shadow: 0px 2px 0px #272726;
    border-radius: 22px;
    min-height: 136px;
    padding: 0 1rem;

    &:hover {
        .ideas__row-photo  {
            opacity: 1;
        }
    }

    &:hover {
        background: url("../assets/img/ideas/rest.png") center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;

        .ideas__row-item-content {
            display: none;
        }
    }

    @media (max-width: 451px) {
        min-height: 90px;
    }
}
.ideas__row-item-content {
    max-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;

    @media (max-width: 451px) {
        max-width: 130px;
    }
}
.ideas__row-text {
    font-size: 2rem;
    line-height: calc(24 / 20);
    color: #FFFFFF;   
    padding-right: 1rem;

    @media (max-width: 451px) {
        font-size: 1.4rem;
    }
}
.ideas__row-icon {
    @media (max-width: 451px) {
        width: 28px;

        img {
            width: 100%;
        }
    }
}

.ideas__row-photo {
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s linear;
    /*
    flex: 1 1 auto;
    width: 100%;
    max-width: 330px;
    object-fit: cover;
    */
}

.ideas__row-col-text {

    @media (max-width: 768px) {
        display: block;
        font-size: 2rem;
        line-height: calc(17 / 14);
        text-align: right;
        color: #838383;
    }

    @media (max-width: 500px) {
        font-size: 1.4rem;
        max-width: 156px;
        margin-left: auto;
    } 
}