.info {
    margin-bottom: 12.8rem;
    margin-top: 10rem;
}
.info__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}
.info__left {
    width: 60%;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        transform: translateX(0%);
        opacity: 1;
    }

    @media (max-width: 992px) {
        width: 100%;
    }
}
.info__left-header {
}
.info__left-block {
    display: flex;

    @media (max-width: 480px) {
        flex-wrap: wrap;
        
        .info__left-element {
            flex: 0 1 40%;
        }
    }
}
.info__left-element {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 3rem;
    flex: 0 1 31%;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 992px) {
        flex: 0 1 40%;
    }

    @media (max-width: 650px) {
        flex: 1 1 100%;
    }
}
.info__left-icon {
    margin-right: 1rem;
}
.info__left-value {
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #3A3A3A;
}
.info__left-address {
    font-size: 2rem;
    line-height: calc(24 / 20);
    letter-spacing: 0.2px;
    color: #3A3A3A;

    margin-bottom: 3rem;
}
.info__left-text {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
    color: #3A3A3A;
}
.info__right {
}
.info__left-bottom {
    margin-top: 10rem;
}
.info__left-inner {
    margin-top: 3rem;
}
.info__left-item {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 992px) {
    }
}
.info__left-through {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #000;
        
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        left: 0;
    }
}
.info__right {
    width: 30%;
    transform: translateX(100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        transform: translateX(0%);
        opacity: 1;
    }

    @media (max-width: 992px) {
        width: 100%;

        max-width: 500px;
        margin: 4rem auto 0;
    }
}