.intro__content {
    width: 48%;
}

.content-intro__suptitle {
    color: #404040;    
}

.content-intro__text {
    margin-top: 48px;
    margin-bottom: 32px;

    @media (max-width: 596px) {
        margin-top: 20px;
        margin-bottom: 32px;
    }
}

.block-intro {
    position: relative;
    width: 44%;
}

.content-intro__btn {
}

.block-intro__decoration {
}

.block-intro__content {
}

.block-intro__photo {
    position: relative;
    z-index: 3;

    img {
        width: 100%;
    }
}

.block-intro__decor-1 {
    top: 70px;
    left: -40px;
    z-index: 2;

    img {
        width: 100%;
    }
}

.block-intro__decor-2 {
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 1;
}