.kviz {
}
.container__one {
}
.kviz__body {
    width: 100%;
    position: relative;
}
.kviz__header {
    background: linear-gradient(180deg, #1B344B 0%, #23313F 100%);
    border-radius: 20px 20px 0px 0px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 46px;
    color: #fff;

    padding: 3.6rem 0;
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;

    @media (max-width: 992px) {
        font-size: 3rem;
    }

    @media (max-width: 600px) {
        font-size: 2.5rem;
    }

    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}
.kviz__block {
    background: #FFFFFF;
    box-shadow: -21px 21px 42px rgba(224, 224, 224, 0.2), 21px -21px 42px rgba(224, 224, 224, 0.2), -21px -21px 42px rgba(255, 255, 255, 0.9), 21px 21px 53px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
    border-radius: 0 0 2rem 2rem;
    padding: 5.8rem 1rem 8rem;
    display: none;
    position: relative;
    overflow: hidden;

    &.active {
        display: block;
    }
}
.kviz__block-content {
    max-width: 91.5rem;
    margin: auto;
}
.kviz__suptitle {
    font-size: 3.2rem;
    line-height: calc(46 / 32);
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #666666;

    margin-bottom: 2.9rem;

    span {
        margin-right: 2.6rem;
    }

    @media (max-width: 600px) {
        font-size: 2.2rem;
    }

    @media (max-width: 480px) {
        font-size: 1.6rem;
    }
}
.kviz__form {
    display: flex;
    margin-bottom: 6rem;

    @media (max-width: 992px)  {
        flex-wrap: wrap;
    }
}
.kviz__form-block {
    display: block;

    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .kviz__form-item {
            text-align: left;
        }
    }
}
.kviz__form-item {
    flex: 0 1 30%;

    &.active {
        .kviz__form-radio {
            &:before {
                border: 0;
                background-color: #F97B61;
                border-radius: .5rem;
                margin-right: 1.6rem;
            }
        }
    }

    @media (max-width: 992px) {
        flex: 0 1 50%;
        margin-bottom: 2rem;
    }

    @media (max-width: 480px) {
        flex: 1 1 100%;
    }
}
.kviz__form-photo {
    img {
        border-radius: 1rem;
    }
}
.kviz__form-radio {
    display: flex;
    align-items: center;
    margin-top: 2.7rem;
    position: relative;

    input {
        display: none;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 2rem;
        height: 2rem;
        border: 1.5px solid #565E66;
        border-radius: .5rem;
        margin-right: 1.6rem;
    }

    @media (max-width: 992px) {
    }
}
.kviz__form-text {
    font-size: 2.4rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #666666;
    padding-left: 3rem;

    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}
.kviz__bottom {
    border-top: 2px solid #F7F7F7;
    padding-top: 2rem;
}
.kviz__bottom-title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: calc(46 / 32);
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #1B344B 0%, #0D2031 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 1.9rem;

    @media (max-width: 480px) {
        font-size: 2.8rem;
    }
}
.kviz__bottom-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.kviz__bottom-left {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        margin-bottom: 2rem;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.kviz__bottom-cost {
    margin-right: 1.9rem;

    font-weight: 700;
    font-size: 4rem;
    line-height: calc(46 / 40);
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(183.64deg, #F97B61 10.83%, #EE5E3F 91.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    border-radius: 20px;
    padding: 1.4rem 2rem 1.3rem 2.4rem;
    border: 5px solid rgba(249, 123, 97, 1);

    @media (max-width: 600px) {
        font-size: 3rem;
    }

    @media (max-width: 480px) {
        margin-bottom: 2rem;
    }
}
.kviz__bottom-text {
    font-size: 1.5rem;
    line-height: 133%;
    color: #2F2F2F;
    span {
        font-size: 1.5rem;
        line-height: 133%;
        background: linear-gradient(183.64deg, #F97B61 10.83%, #EE5E3F 91.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.kviz__bottom-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.kviz__bottom-right-top {
    display: flex;
}
.kviz__bottom-right-bottom {
    font-weight: 300;
    font-size: 1rem;
    line-height: 100%;
    color: #BEBEBE;

    margin-top: 4px;
}
.kviz__bottom-arrow {
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    width: 3.9rem;
    height: 3.9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 1.2rem;
    cursor: pointer;
}
.kviz__bottom-btn {
    display: flex;
    align-items: center;

    background: linear-gradient(180deg, #EE775E 0%, #FF5D3A 100%);
    border-radius: 10px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
    min-height: 3.9rem;
    padding: 0 1rem;

    cursor: pointer;

    &:hover {
        background: linear-gradient(#FF5D3A 100%, #EE775E 0%);
    }
}
.kviz__list {
    background: rgba(217, 217, 217, 0.63);
    backdrop-filter: blur(42.5px);
    border-radius: 20px;
    max-width: 350px;
    width: 100%;

    position: absolute;
    top: -15rem;
    right: -25rem;
    z-index: 1;

    padding: 2.5rem 5rem 5rem 12.1rem;

    @media (max-width: 1690px) {
        right: 0;
        top: -18rem;
        padding: 5rem 4rem;
    }

    @media (max-width: 480px) {
        top: -13rem;
        max-width: 20rem;
        padding: 3rem;
    }
}
.kviz__list-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    color: #2F2F2F;

    margin-bottom: 0.9rem;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.kviz__list-text {
    font-size: 1.5rem;
    line-height: 133%;
    color: #2F2F2F;

    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
} 

.kviz__block-info {
    width: 50%;
    padding-left: 9.4rem;

    @media (max-width: 992px) {
        padding-left: 2rem;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}
.kviz__block-title {
    font-weight: 700;
    font-size: 4rem;
    line-height: calc(46 / 40);
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(183.64deg, #F97B61 10.83%, #EE5E3F 91.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 2.3rem;

    @media (max-width: 992px) {
        font-size: 2.8rem;
    }
}
.kviz__block-text {
    font-size: 2rem;
    line-height: 125%;
    color: #666666;

    margin-bottom: 6.7rem;

    @media (max-width: 992px) {
        font-size: 1.6rem;
    }

    @media (max-width: 480px) {
        margin-bottom: 3rem;
    }
}
.kviz__block-form {
    margin-bottom: 5rem;

    input {
        width: 100%;

        border: 2px solid #FBFBFB;
        box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(212, 212, 212, 0.5);
        filter: drop-shadow(-5px 5px 10px rgba(212, 212, 212, 0.2)) drop-shadow(5px -5px 10px rgba(212, 212, 212, 0.2)) drop-shadow(-5px -5px 10px rgba(255, 255, 255, 0.9)) drop-shadow(5px 5px 13px rgba(212, 212, 212, 0.9));
        border-radius: 15px;
        min-height: 8rem;

        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 2rem;
        line-height: 90%;
        color: #666666;
        padding: 0 4.2rem;
        outline: 0;

        &::placeholder {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 2rem;
            line-height: 90%;
            color: #666666;

            @media (max-width: 480px) {
                font-size: 1.4rem;
            }
        }

        &:focus {
            &::placeholder {
                font-size: 0;
            }
        }

        @media (max-width: 480px) {
            font-size: 1.4rem;
            min-height: 4rem;
        }
    }
}
.kviz__block-btn {
    max-width: 38rem;
    margin-bottom: 4.2rem;

    @media (max-width: 480px) {
        max-width: 20rem;
        margin: 0 auto 4.2rem;
    }
}
.kviz__block-button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 90%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    background: linear-gradient(183.64deg, #F97B61 10.83%, #EE5E3F 91.05%);
    border-radius: 11px;
    min-height: 8rem;
    width: 100%;
    border-radius: 2rem;

    @media (max-width: 480px) {
        min-height: 4rem;
        font-size: 1.6rem;
    }
}
.kviz__block-footer {
    font-size: 2rem;
    line-height: 125%;
    text-transform: lowercase;
    color: #666666;
    
    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.kviz__block-img {
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1rem;
    
    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}