.load {
    margin-top: 4rem;
}
.load__container {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}
.load__body {
    width: 50%;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }
}
.load__title {
    font-size: 3rem;
    color: #142C4A;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        font-size: 2rem;
    }
}
.load__text {
    font-size: 1.6rem;
    color: #333;
    max-width: 40rem;
    margin-bottom: 2rem;

    @media (max-width: 992px) {
        margin: 0 auto 2rem;
    }

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.load__btn {
    width: 100%;
    max-width: 30rem;

    button {
        width: 100%;
        background-color: #fff;
        clip-path: none;
        border: 2px solid rgb(67, 140, 250);
        color: rgb(67, 140, 250);

        span {
            color: #cfcfcf;
        }

        &:hover {
            background-color: rgb(67, 140, 250);
            color: #fff;
        }
    }

    @media (max-width: 992px) {
        margin: auto;
    }
}
.btn {
}
.load__photo {
    width: 50%;

    img {
        width: 100%;
    }

    @media (max-width: 992px) {
        width: 100%;
        max-width: 50rem;
        margin: auto;
    }
}