.materials {
    margin-top: 2rem;
}
.materials__container {
}
.materials__header {
}
.materials__title {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.materials__body {
    margin-top: 2rem;
}
.materials__text {
    font-family: "Montserrat", arial, sans-serif;

    p {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 14px;
    }
}
.materials__block {
}
.materials__list {
    padding-left: 5rem;
    li {
        font-family: "Montserrat", arial, sans-serif;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;

        margin-bottom: 1rem;

        list-style-type: decimal;
    }
}