.message {
    margin-top: 250px;
    margin-bottom: 160px;

    @media (max-width: 769px) {
        margin-top: 100px;
        margin-bottom: 80px;
    }
}
.message__container {
}
.message__title {
    margin-bottom: 70px;

    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;

    span {
        color: #008C8C;
    }

    @media (max-width: 992px) {
        font-size: 24px;
    }

    @media (max-width: 769px) {
        margin-bottom: 40px;
    }

    @media (max-width: 550px) {
        font-size: 18px;
        margin-bottom: 30px;
    }
}
.message__form {
    width: 100%;
    max-width: 892px;
    margin-left: 114px;

    textarea {
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 133.9%;
        color: #656565;
        background-color: #fff;
        border: 0;
        resize: none;
        padding: 26px 37px;
        outline: 0;

        min-height: 206px;
        margin-bottom: 50px;

        &:focus {
            border: 1px solid #008C8C;
            color: #000;
        }

        @media (max-width: 992px) {
            min-height: 84px;
            font-size: 18px;
        }

        @media (max-width: 769px) {
            font-size: 10px;
            padding: 10px 14px;
            margin-bottom: 30px;
        }

        @media (max-width: 550px) {
            min-height: 180px;
            margin-bottom: 40px;
            font-size: 12px;
            padding: 14px 21px;
        }
    }

    @media (max-width: 1150px) {
        margin-left: 50px;
    }

    @media (max-width: 992px) {
        margin-left: 70px;
        max-width: 645px;
    }

    @media (max-width: 769px) {
        max-width: 428px;
    }

    @media (max-width: 550px) {
        margin-left: 0;
        max-width: 100%;
    }
}
.message__inner {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 550px) {
        flex-wrap: wrap;
        margin-bottom: 11px;
    }
}
.message__item {
    width: 50%;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    input {
        background: #FFFFFF;
        min-height: 83px;
        padding: 0 37px;

        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 133.9%;
        color: #656565;
        width: 100%;
        outline: 0;

        &:focus {
            border: 1px solid #008C8C;
            color: #000;
        }

        @media (max-width: 992px) {
            font-size: 18px;
            min-height: 60px;
        }

        @media (max-width: 769px) {
            min-height: 34px;
            font-size: 10px;
            padding: 0 14px;
        }

        @media (max-width: 550px) {
            font-size: 12px;
            padding: 0 21px;
        }
    }

    @media (max-width: 550px) {
        width: 100%;
        margin-right: 0;

        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.message__button {
    &:hover {
        color: #008C8C;

        &:before,
        &:after {
            background-color: #008C8C;
        }
    }
}
.message__button {
    @media (max-width: 992px) {
        font-size: 12px;
    }
}