.modal {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
    overflow: auto;
    padding: 2rem;
}
.modal__dialog {
    background-color: #fff;
    padding: 4rem;
    margin: auto;
    position: relative;
}
.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

    img {
        width: 3rem;
        height: 3rem;
    }
}
.modal__header {
    display: flex;
    align-items: center;
}
.modal__content {
    margin-right: 2rem;
}
.modal__title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        font-size: 2rem;
    }
}
.modal__text {
    font-size: 1.4rem;
    max-width: 30rem;
}
.modal__photo {
    @media (max-width: 480px) {
        display: none;
    }
}
.modal__form {
    margin-top: 5rem;
}
.modal__form-item {
    margin-bottom: 2rem;

    label {
        display: block;
        font-size: 1.4rem;
        color: #aaaaaa;
        margin-bottom: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    input {
        width: 100%;
        min-height: 5rem;
        border: 1px solid #aaaa;
        padding: 0 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        outline: 0;

        &:focus {
            border: 1px solid rgb(67, 140, 250);
        }
    }

    textarea {
        width: 100%;
        resize: none;
        border: 1px solid #aaaa;
        min-height: 15rem;
        outline: 0;

        padding: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;

        &:focus {
            border: 1px solid rgb(67, 140, 250);
        }
    }
}

.modal__btn {
    width: 100%;
    margin-top: 3rem;

    button {
        width: 100%;
        clip-path: none;

        &:hover {
            background-color: darken(rgb(67, 140, 250), 5%);
            color: #fff;
        }
    }
}