.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 1rem;

    &.show {
        display: flex;
    }
}
.modal__dialog {
    width: 100%;
    max-width: 676px;
    margin: auto;

    background: #1B1B1B;
    border-radius: 40px;
    padding: 2rem;
    position: relative;
    min-height: 434px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all .2s linear;
    opacity: 0;
}
.modal__close {
    position: absolute;
    top: 3.2rem;
    right: 8rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    background: none;
    transition: all .2s linear;

    &:hover {
        transform: translateY(-5px);
    }

    @media (max-width: 448px) {
        right: 2rem;
    }
}
.modal__content {
    max-width: 219px;
    margin: auto;
}
.modal__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: calc(30 / 25);
    color: #EA6419;   
    
    margin-bottom: 2rem;

    @media (max-width: 448px) {
        font-size: 2rem;
    }
}
.modal__text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: calc(28 / 24);
    color: #FFFFFF; 
    
    margin-bottom: 2.6rem;

    @media (max-width: 448px) {
        font-size: 2rem;
    }
}
.modal__form {
    margin-bottom: 2.8rem;
}
.modal__form-item {
    margin-bottom: 2.3rem;

    &:last-child {
        margin-bottom: 0;
    }

    input {
        width: 100%;
        background: none;
        border: 0;
        border-bottom: 0.6px solid #969393;
        padding-bottom: 1rem;

        font-family: 'TT Norms', sans-serif;
        font-size: 1.8rem;
        line-height: calc(21 / 18);
        
        color: #969393;

        &:focus {
            outline: 0;
            font-family: 'TT Norms', sans-serif;
            font-size: 1.8rem;
            line-height: calc(21 / 18);
            color: #969393;

            @media (max-width: 448px) {
                font-size: 1.6rem;
            }
        }

        &::placeholder {
            font-family: 'TT Norms', sans-serif;
            font-size: 1.8rem;
            line-height: calc(21 / 18);
            color: #969393;

            @media (max-width: 448px) {
                font-size: 1.6rem;
            }
        }

        @media (max-width: 448px) {
            font-size: 1.6rem;
        }
    }
}