.offer {
    margin-top: 5rem;
    height: 100vh;
    position: relative;
    overflow: auto;

    @media (max-width: 395px) {
        margin-bottom: 10rem;
    }
}
.offer__container {
    position: relative;
    z-index: 10;
}
.top-block {
}
.top-block__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }

    @media (max-width: 600px) {
        align-items: center;
    }
}
.top-block__btn {
    max-width: 18.6rem;
    width: 100%;
    padding-right: 1rem;

    button {
        width: 100%;
        min-height: 5.5rem;
        background: #455B66;

        @media (max-width: 600px) {
            border-radius: 1rem;
        }
    }

    @media (max-width: 479px) {
        max-width: 13rem;
    }

    @media (max-width: 395px) {
        max-width: 100%;
    }
}
.btn {
}
.btn--gray {
}
.top-block__number {
    max-width: 29rem;
    width: 100%;
    padding-right: 1rem;
    input {
        width: 100%;
        min-height: 5.5rem;
        background: #FFFFFF;
        border-radius: 5px;

        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #90A4AF;

        padding: 0 3rem;
        outline: 0;

        &::placeholder {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            color: #90A4AF;
        }
    }

    @media (max-width: 992px) {
        max-width: 100%;
        width: 40%;
    }

    @media (max-width: 600px) {
        order: 4;
        margin-top: 2rem;
    }

    @media (max-width: 395px) {
        max-width: 100%;
        width: 100%;
    }
}
.top-block__item {
    width: 100%;
    max-width: 39.2rem;
    display: flex;
    padding-right: 1rem;
    input {
        width: 95%;
        min-height: 5.5rem;
        background: #FFFFFF;
        border-radius: 5px;

        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #90A4AF;

        padding: 0 3rem;
        outline: 0;

        &::placeholder {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            color: #90A4AF;
        }
    }

    @media (max-width: 992px) {
        order: 4;
        margin-top: 2rem;
        max-width: 100%;
        width: 80%;
    }

    @media (max-width: 600px) {
        order: 5; 
        width: 60%;
    }

    @media (max-width: 395px) {
        max-width: 100%;
        width: 100%;
    }
}
.top-block__item-1 {
    @media (max-width: 600px) {
        display: none;
    }
}
.top-block__item-2 {
    display: none;

    @media (max-width: 600px) {
        display: block;
    }
}
.top-block__search {
    width: 5.9rem;
    height: 5.5rem;
    background: #2B74B9;
    border-radius: 0px 5px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: darken(#2B74B9, 5%);
    }
}
.top-block__checkbox {
    max-width: 10.5rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;

    @media (max-width: 992px) {
        order: 5;
        margin-top: 2rem;
    }

    @media (max-width: 600px) {
        order: 3;
    }

    @media (max-width: 600px) {
        margin-top: 0;
    }

    @media (max-width: 395px) {
        margin-top: 2rem;
    }
}
.top-block__checkbox-block {
    position: relative;
    margin-right: 0.7rem;
    cursor: pointer;
    
    input {
        display: none;
    }

    &:before {
        content: "";
        background: #2B74B9;
        border-radius: 10px;
        width: 5.4rem;
        height: 3.7rem;
        display: block;
    }

    &:after {
        content: "";
        width: 2.7rem;
        height: 3.3rem;
        background: #FFFFFF;
        border-radius: 1rem;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .2rem;
    }
}
.top-block__text {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc(17 /14);
    color: #617E8C;
}
.top-block__button {
    max-width: 15.3rem;
    width: 100%;

    @media (max-width: 992px) {
        order: 3;
    }

    @media (max-width: 600px) {
        order: 2;
    }

    @media (max-width: 479px) {
        max-width: 12rem;
    }

    @media (max-width: 395px) {
        max-width: 60%;
        margin-top: 2rem;
    }
}
.top-block__blue {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #2B74B9;

    border: 2px solid #2B74B9;
    border-radius: 5px;
    min-height: 5.5rem;

    width: 100%;
    cursor: pointer;

    &:hover {
        background: #2B74B9;
        color: #fff;
    }

    @media (max-width: 600px) {
        border-radius: 1rem;
    }
}
.offer__info {
    background: #90A4AF;
    border-radius: 5px;
    padding: 2rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 49.5rem;
    width: 100%;

    margin-top: 2rem;

    @media (max-width: 992px) {
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    @media (max-width: 480px) {
        padding: 2rem 1rem;
    }
}
.offer__info-item {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #FFFFFF;

    &:last-child {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 2rem;
        height: 2rem;

        color: #455B66;
    }

    @media (max-width: 350px) {
        font-size: 1.2rem;
    }
}
.offer__body {
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    padding: 2rem 0;

    &--body {
        margin-top: 1rem;

        @media (max-width: 992px) {
            margin-top: 0;
        }
    }

    &--block {
        margin-top: 2rem;
    }
}
.offer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    padding: 0 2.8rem;
    padding-top: 1rem;

    &:last-child {
        border-bottom: 0;

        .offer__col {
            margin-bottom: 0;
        }
    }

    @media (max-width: 600px) {
        padding: 0 1.5rem;
    } 

    @media (max-width: 420px) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2rem;
    }
}
.offer__col {
    margin-bottom: 2rem;
    &:first-child {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #455B66;
        position: relative;

        @media (max-width: 992px) {
            &:after {
                content: "!";
                
                position: absolute;
                top: 0;
                right: -2.5rem;
                font-weight: 700;
                font-size: 1.1rem;
                line-height: calc(13 / 11);
                color: #FFFFFF;
        
                background: #2B74B9;
                border: 1px solid #2B74B9;
        
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        @media (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    &:nth-child(2) {
        font-weight: 700;
        font-size: 1.1rem;
        line-height: calc(13 / 11);
        color: #FFFFFF;

        background: #2B74B9;
        border: 1px solid #2B74B9;

        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &:nth-child(3) {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #617E8C;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &:nth-child(4) {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #617E8C;

        @media (max-width: 992px) {
            display: none;
        }

        @media (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    &:nth-child(5) {
        @media (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    &:nth-child(6) {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #2B74B9;
    }

    &:nth-child(7) {
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #90A4AF;

        border: 1px solid #B0BFC6;
        border-radius: 5px;

        min-height: 5.4rem;
        padding: 0 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        color: rgba(144, 164, 175, 1);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
    }
}
.offer__bottom {
    width: 100%;
    text-align: center;
    background: #B0BFC6;
    border-radius: 5px;

    min-height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    line-height: calc(16 / 14);
    color: #253238;

    margin-top: 1rem;
}
.offer__col-block {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    color: #617E8C;

    margin-top: 1rem;
    display: none;

    span {
        color: rgba(144, 164, 175, 1);
    }

    @media (max-width: 992px) {
        display: block;
    }
}

.offer__item {
    padding-bottom: 2rem;
    &--name {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #455B66;

        @media (max-width: 480px) {
            font-size: 1.4rem;
        }
    }

    &--text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #90A4AF;

        @media (max-width: 480px) {
            font-size: 1.4rem;
        }
    }

    &--cost {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19 / 16);
        color: #2B74B9;

        @media (max-width: 480px) {
            font-size: 1.4rem;
        }
    }
}