.personal {
}
.personal__header {
    text-align: center;
}
.personal__title {
    font-weight: 600;
    color: rgb(67, 140, 250);
    font-size: 3rem;
    margin-left: -15rem;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        margin-left: 0;
    }
}
.personal__suptitle {
    font-size: 1.8rem;
    color: #333;
}
.personal__inner {
    position: relative;
    padding: 3rem 0;
    margin-bottom: 3rem;

    border-bottom: 1px solid #cfcfcf;
    width: 100%;

    &:before {
        content: "";
        width: 36%;
        height: 0.1rem;
        background-color: #cfcfcf;

        position: absolute;
        top: -1rem;
        left: 0;
    }

    &:after {
        content: "";
        width: .1rem;
        height: 105%;
        background-color: #cfcfcf;

        position: absolute;
        top: 48%;
        transform: translateY(-50%);
        left: 0;
    }
}
.personal__text {
    font-size: 1.6rem;
    padding-left: 4rem;
    margin-bottom: 3rem;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &:after {
        content: "";
        width: 0.3rem;
        background-color: rgb(67, 140, 250);
        height: 3rem;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 10;
    }
}
.personal__body {
}
.personal__info {
    font-size: 1.6rem;
}
.personal__block {
    font-size: 1.8rem;
    background-color: #f2eeee;
    padding: 1rem 2rem;
    margin: 2rem 0;
}
.personal__body-title {
    font-size: 1.8rem;
}
.personal__list {
    font-size: 1.4rem;
    margin-top: 3rem;

    li {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}