.personal {
}
.personal__header {
    text-align: center;
}
.personal__title {
    font-weight: 600;
    color: rgb(67, 140, 250);
    font-size: 3rem;
}
.personal__suptitle {
    font-size: 1.8rem;
    color: #333;
}
.personal__inner {
}
.personal__text {
}