.preview {
    width: 100%;
    height: auto;
    background: url("../img/preview/bg.png") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 10rem 5rem;
    margin-top: 3rem;

    @media (max-width: 480px) {
        padding: 6rem 3rem;
    }
}
.preview__container {
}
.preview__title {
    text-transform: uppercase;
    font-size: 4rem;
    color: #142C4A;
}
.preview__btn {
    margin-top: 2rem;
}
.preview__button {
    box-shadow: 5px 6px 0 1px rgb(25 167 205 / 45%);
    background-color: #19a7cd;
    color: #fff;
    min-height: 4rem;
    padding: 0 3rem;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 6px 0 1px #19a7cd;
    }
}