.prof {
    margin-top: 20rem;
}
.prof__container {
}
.prof__title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 12rem;
}
.prof__inner {
    display: flex;
    margin: 0 -3rem;
}
.prof__col {
    flex: 0 1 33.333%;
    padding: 0 3rem;
}
.prof__item {
    text-align: center;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.prof__photo {
}
.prof__content {
    margin-top: 6rem;
}
.prof__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}
.prof__item-text {
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;

    margin-top: 3rem;
}