.programm {
    margin-top: 20rem;
}
.programm__container {
}
.programm__header {
    text-align: center;
    margin-bottom: 9rem;
}
.programm__icon {
}
.programm__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 3rem;
}
.programm__text {
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;

    margin-top: 3rem;
}
.programm__inner {
    max-width: 75rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:after {
        content: "";
        width: 0.6rem;
        height: 100%;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.programm__item {
    width: 50%;
    max-width: 28.8rem;
    margin-bottom: 8.7rem;

    &:nth-child(odd) {
        text-align: right;

        .programm__item-text {
            &:after {
                content: "";
                width: 4rem;
                height: 0.1rem;
                background-color: rgba(255, 255, 255, .3);

                position: absolute;
                top: 10%;
                right: -30%;
            }
        }
    }
}
.programm__suptitle {
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
}
.programm__item-text {
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    position: relative;
}