.projects {
    margin-top: 11.8rem;
    margin-bottom: 14.4rem;
}
.projects__container {
}
.projects__header {
    margin-left: 8.2rem;
    max-width: 300px;
    margin-bottom: 5rem;

    @media (max-width: 535px) {
        margin-left: 2rem;
        max-width: 150px;
    }
}
.projects__inner {
    display: flex;
    margin-bottom: 8.3rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        transform: translateY(0);
        opacity: 1;
    }
}
.projects__item {
    position: relative;
    margin-right: 4.6rem;


    @media (max-width: 768px) {
        max-width: 400px;
    }

    @media (max-width: 535px) {
        max-width: 250px;
        margin-right: 2rem;
    }
}
.projects__photo {
    img {
        width: 100%;
    }
}
.projects__item-content {
    font-size: 2rem;
    line-height: calc(24 / 20);
    color: #FFFFFF;   
    
    position: absolute;
    bottom: 3rem;
    left: 7.1rem;
    z-index: 3;

    max-width: 12.4rem;

    @media (max-width: 535px) {
        font-size: 1.6rem;
        left: 4rem;
    }
}
.projects__photo {
    img {
        border-radius: 39px;
    }
}
.projects__btn {
    margin-left: 10rem;

    @media (max-width: 535px) {
        max-width: 230px;
        margin: auto;

        .btn {
            width: 100%;
        }
    }
}