.reviews {
    width: 100%;
    background: #F9F9F9;
    padding: 8rem 0;
}
.reviews__container {
}
.reviews__title {
    margin-bottom: 5.4rem;
}
.reviews__inner {
    display: flex;
    margin: 0 -1.5rem;
}
.reviews__block {
}
.reviews__col {
    flex: 0 1 50%;
    padding: 0 1.5rem;
    height: 100%;
    min-height: 36.8rem;

    @media (max-width: $tablet) {
        min-height: 30rem;
    }
}
.reviews__item {
    background: #FFFFFF;
    height: 100%;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviews__item-content {
}
.reviews__item-header {
    margin-bottom: 4rem;
    max-width: 24.6rem;
}
.reviews__item-name {
    font-size: 1.5rem;
    line-height: calc(18 / 15);
    color: #000000;
    
    margin-bottom: 1.2rem;
}
.reviews__item-prof {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: calc(15 / 12);
    color: #565656;
}
.reviews__item-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #000000;

    @media (max-width: $dekstop) {
        font-size: 1.2rem;
    }
}
.reviews__item-link {
    font-size: 1.3rem;
    color: #098FCF;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

.reviews__btn {
    max-width: 25.8rem;
    margin: 4.4rem auto 0;

    .btn {
        width: 100%;
    }
}