.sidebar {
    padding-top: 2rem;
    width: 5%;

    &.show {
        display: flex;
        transform: translateX(-100%);
    }

    @media (max-width: 768px) {
        display: none;
        width: 20%;
    }
}
.sidebar__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 30%;
    svg {
        width: 3.5rem;
        height: 3.5rem;
    }
}
.sidebar__icons {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}
.sidebar__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 3rem;
    cursor: pointer;
    svg {
        width: 100%;
        height: 100%;
        fill: #FFFFFF;
        opacity: 0.5;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }
}
.sidebar__turn {
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}
.sidebar__turn-item {
    width: 2rem;
    height: 3rem;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        fill: #FFFFFF;
        opacity: 0.5;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }
}

.sidebar__mobile {
    position: absolute;
    top: 3rem;
    left: -11%;
    display: none;

    @media (max-width: 768px) {
        display: block;
        z-index: 1100;
    }
}

.burger__sidebar {
    position: relative;
    width: 25px;
    height: 25px;

    &:after,
    &:before,
    span {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;

        border-radius: 1rem;
        margin-left: 1rem;
        transition: all .2s linear;
    }

    &:before {
        top: 3px;
        content: "";
    }

    &:after {
        bottom: 3px;
        content: "";
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }

    &.active {
        &:before {
            transform: rotate(45deg);
            top: 50%;
        }

        &:after {
            transform: rotate(-45deg);
            top: 50%;
        }

        span {
            display: none;
        }
    }
}