.sphere {
    margin-top: 4rem;
}
.sphere__container {
}
.sphere__title {
    margin-bottom: 4rem;
}
.title-block {
}
.sphere__body {
}
.sphere__tabs {
    margin-bottom: 4.5rem;
    display: flex;

    @media (max-width: 769px) {
        flex-wrap: wrap;
    }
}
.sphere__tab {
    width: 25%;
    text-align: center;

    &.active {

        .sphere__link {
            border-bottom: solid 6px #000;

            &:hover {
                background: none;
                cursor: default;
            }
        }
    }

    @media (max-width: 769px) {
        width: 100%;
    }
}
.sphere__link {
    border-bottom: solid 6px #d3d3d3;
    background: #fff;
    color: #231f20;
    font-size: 1.8rem;
    padding: 1.5rem .5rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
        background: #f9f5e8;
        color: #000000;
    }
}
.sphere__content {
    position: relative;
}
.sphere__panel {
    display: none;

    &.active {
        display: flex;
    }

    @media (max-width: 992px) {
        flex-direction: column;
    }
}
.sphere__photo {
    width: 60%;

    img {
        width: 100%;
    }

    @media (max-width: 992px) {
        width: 100%;
    }
}
.sphere__info {
    padding: 35px 55px;
    position: absolute;
    background: #7fbb00;
    right: 0;
    bottom: 0;
    text-align: left;
    width: 50%;

    @media (max-width: 992px) {
        width: 100%;
        position: static;
    }

    @media (max-width: 769px) {
        padding: 20px;
    }
}
.sphere__suptitle {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: #fff;
}
.sphere__text {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: #fff;
}
.sphere__buttons {
    margin-top: 5px;
    display: flex;

    @media (max-width: 480px) {
        flex-direction: column;
    }
}
.sphere__btn {
    background: #fff;
    padding: 10px 30px;
    color: #000000;
    font-size: 14px;

    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;

    margin-right: 0.5rem;

    &:hover {
        background: darken(#fff, 5%);
    }

    @media (max-width: 480px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}