.steps {
    margin-top: 33rem;
    position: relative;

    &:after {
        content: "";
        width: 400px;
        height: 400px;
        background: rgba(30, 80, 255, 0.5);
        filter: blur(200px);

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    @media (max-width: 597px) {
        margin-top: 10rem;
    }
}
.steps__container {
}
.steps__title {
    font-size: 6.4rem;
    line-height: 109%;
    color: #FFFFFF;

    margin-bottom: 10.7rem;

    @media (max-width: 577px) {
        font-size: 3.5rem;
    }
}
.steps__inner {
    margin: 0 -2rem;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
        margin: 0 -1.5rem;
    }
}
.steps__col {
    padding: 0 2rem;
    flex: 0 1 33.333%;
    margin-bottom: 8.1rem;

    @media (max-width: 1024px) {
        padding: 0 1.5rem;
    }

    @media (max-width: 993px) {
        flex: 0 1 50%;
    }

    @media (max-width: 597px) {
        flex: 1 1 100%;
        margin-bottom: 4rem;
    }
}
.steps__item {
    text-align: center;
    background-color: #272D37;
    border-radius: 2.5rem;
    padding: 3rem;
    height: 100%;

    @media (max-width: 391px) {
        padding: 3rem 2rem;
    }
}
.steps__item-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 133%;
    text-transform: capitalize;
    color: #FFFFFF;

    margin-bottom: 1rem;

    @media (max-width: 391px) {
        font-size: 2rem;
    }
}
.steps__item-text {
    font-size: 1.6rem;
    line-height: 200%;
    text-transform: capitalize;
    color: #FFFFFF;  
    
    @media (max-width: 391px) {
        font-size: 1.4rem;
    }
}