.teachers {
    margin-top: 17rem;
}
.teachers__container {
}
.teachers__header {
    display: flex;
    align-items: center;

    margin-bottom: 11.3rem;
}
.teachers__icon {
}
.teachers__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;

    margin-left: 16px;
}
.teachers__inner {
    display: flex;
    margin: 0 -1.2rem;
}
.teachers__item {
    flex: 0 1 33.333%;
    text-align: center;
    padding: 0 1.2rem;
}
.teachers__photo {
    margin-bottom: 4rem;
}
.teachers__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.teachers__prof {
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 3rem;
}
.teachers__btn {
}
.btn {
}
.btn--white {
}