.us {
    margin: 118px 0 131px;

    @media (max-width: 535px) {
        margin: 50px 0 100px;
    }
}
.us__container {
    display: flex;
    max-width: 1262px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.us__header {
    flex: 0 1 25%;

    @media (max-width: 992px) {
        flex: 1 1 100%;
        margin-bottom: 3rem;
    }
}
.us__item {
    flex: 0 1 25%;
    margin-right: 2.5rem;

    &:nth-child(2) {
        .us__item-title {
            &:before {
                content: "01";
            }
        }
    }
    
    &:nth-child(3) {
        .us__item-title {
            &:before {
                content: "02";
            }
        }
    }

    &:last-child {
        margin-right: 0;

        .us__item-title {
            &:before {
                content: "03";
            }
        }
    }

    @media (max-width: 535px) {
        flex: 1 1 100%;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.us__item-title {
    font-size: 4rem;
    line-height: calc(47 / 40);
    color: #FFFFFF;

    &:before {
        display: block;
        font-weight: 700;
        font-size: 15px;
        line-height: calc(18 / 15);
        text-transform: uppercase;
        color: #EA6419;
    }

    &:after {
        content: "";
        width: 20%;
        background-color: #EA6419;
        height: 1px;
        display: block;
        margin: 1.6rem 0;
    }

    @media (max-width: 992px) {
        font-size: 3rem;
    }

    @media (max-width: 768px) {
        font-size: 2.4rem;
    }
}
.us__item-text {
    font-size: 2rem;
    line-height: calc(24 / 20);
    color: #838383;

    @media (max-width: 992px) {
        font-size: 1.6rem;
    }

    @media (max-width: 768px) {
        font-size: 1.4rem;
    }
}