.work {
    margin-bottom: 10rem;
}
.work__title {
    margin-bottom: 4.8rem;

    @media (max-width: $tablet) {
        text-align: center;
    }
}
.work__inner {
    margin: 0 -1.55rem;
    display: flex;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }
}
.work__col {
    flex: 0 1 33.333%;
    padding: 0 1.55rem;
    transition: all .4s linear;
    opacity: 0;

    &:first-child {
        transform: translateX(-100%);
    }

    &:nth-child(2) {
        transform: translateY(10%);
    }

    &:last-child {
        transform: translateX(100%);
    }

    @media (max-width: $tablet) {
        flex: 1 1 100%;
        margin-bottom: 4rem;
        max-width: 50rem;
        margin: 0 auto 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    } 

    &._active {
        opacity: 1;
        transform: translate(0);
    }
}
.work__item {
    height: 100%;
    background: #043C77;
    padding: 3rem;
    transition: all .2s linear;

    @media (max-width: $dekstop) {
        padding: 3rem 1.5rem;
    }

    &:hover {
        transform: scale(1.04);
    }
}
.work__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 3rem;
}
.work__item-icon {
    svg {
        width: 6.4rem;
        height: 6.4rem;
    }
}
.work__item-time {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 1.7rem;
}
.work__item-arrow {
    svg {
        width: 5.9rem;
        height: 1.4rem;
    }
}
.work__item-title {
    font-weight: 500;
    font-size: 2.1rem;
    line-height: calc(26 / 21);
    color: #FFFFFF;

    margin-bottom: 2.4rem;
}
.work__item-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;

    @media (max-width: $dekstop) {
        font-size: 1.4rem;
    }
}

.work__item-bottom {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 2.4rem;
    opacity: .8;
}