@import "vars";
@import "reset";

html {
    font-size: 62.5%;
}

body {
    color: $black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    background-color: $page;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    width: 100%;
    padding: 0 1.5rem;
    margin: auto;
    max-width: 139rem;
}

@import "blocks/header";
@import "blocks/intro";
@import "blocks/info";
@import "blocks/catagory";
@import "blocks/brands";
@import "blocks/offers";
@import "blocks/products";
@import "blocks/footer";
@import "blocks/navigation";
@import "blocks/catalog";
@import "blocks/subnav";

body {
    &.no-scroll {
        overflow: hidden;
    }
}

.header-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-top__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: $black;

    @media (max-width: 768px) {
        font-size: 2.4rem;
    }
}
.header-top__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    color: $gray;

    &:hover {
        border-bottom: 1px solid $gray;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
.bottom-button {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    color: $black;
    width: 100%;

    background-color: $white;
    min-height: 4.8rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 1.2rem;

    @media (max-width: 768px) {
        display: flex;
    }
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('../fonts/NotoSansDisplay-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff2') format('woff2'),
        url('../fonts/NotoSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('../fonts/NotoSansDisplay-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Medium.woff2') format('woff2'),
        url('NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
        url('NotoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}