.catagory {
    margin-top: 4rem;

    @media (max-width: 768px) {
        margin-top: 3.2rem;
    }
}
.catagory__container {
}
.catagory__header {
}
.catagory__inner {
    display: flex;
    margin: 2.4rem -.6rem 0;

    @media (max-width: 1280px) {
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        margin: 2.4rem -.4rem 0;
    }
}
.catagory__col {
    min-height: 21.7rem;
    padding: 0 .6rem;

    @media (min-width: 1280px) {
        fleX: 0 1 16.666%;
    }

    @media (max-width: 1280px) {
        flex: 0 1 33.333%;
        margin-bottom: 1.2rem;
    }

    @media (max-width: 768px) {
        flex: 0 1 50%;
        padding: 0 .4rem;
    }
}
.catagory__item {
    border-radius: 1.2rem;
    background-color: $white;
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.6rem 1.6rem 0;
}
.catagory__item-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    color: $black;

    span {
        display: block;
    }

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.catagory__item-photo {
    width: 100%;
    max-width: 16.6rem;
    margin: 0 auto;

    img {
        width: 100%;
    }
}