.intro {
    margin-top: 4rem;

    @media (max-width: 480px) {
        margin-top: 1.6rem;
    }
}
.intro__container {
}
.intro__item {
    background-color: $black;
    border-radius: 1.2rem;
    height: 100%;
    min-height: 30rem;

    display: flex;

    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    position: relative;

    @media (max-width: 769px) {
        min-height: 20rem;
    }
}
.intro__content {
    max-width: 38rem;
    margin-left: 20rem;
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1200px) {
        margin-left: 10rem;
    }

    @media (max-width: 992px) {
        margin-left: 6rem;
    }

    @media (max-width: 769px) {
        padding-top: 3rem;
        justify-content: start;
        margin-left: 2.4rem;
    }
}
.intro__title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    color: #ED6CAD;

    margin-bottom: 2.6rem;

    @media (max-width: 769px) {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}
.intro__subtitle {
    font-weight: 500;
    font-size: 2rem;
    line-height: 104.48%;
    color: #ED6CAD;

    @media (max-width: 769px) {
        font-size: 1.6rem;
    }
}
.intro__right {
    position: relative;
    margin-right: 11.5rem;

    @media (max-width: 1200px) {
        margin-right: 0;
    }
}
.intro__have {
    display: flex;
    position: relative;
    z-index: 10;
    margin-top: 6.5rem;
    margin-right: 5rem;

    @media (max-width: 769px) {
        display: none;
    }
}
.intro__have-icon {
    background: #ED6CAD;
    width: 4.2rem;
    height: 4.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__have-text {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: calc(33 / 24);
    
    color: #FFFFFF;
    background: #049DFA;
    max-width: 15.2rem;
    min-height: 4.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .8rem;
}
.intro__photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    @media (max-width: 992px) {
        img {
            width: 45rem;
        }
    }

    @media (max-width: 769px) {
        right: -6rem;
        img {
            width: 26rem;
        }
    }

    @media (max-width: 480px) {
        right: -15rem;
    }
}

/* Слайдер */
.slick-slider {}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
.slick-list draggable {
    border-radius: 1.2rem;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) 
*/.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 0;
    opacity: 0.2;

    &:hover {
        opacity: 0.5;
    }
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    left: .9rem;
    background: url('/assets/images/intro/arrow-left.svg') center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: .9rem;
    background: url('/assets/images/intro/arrow-right.svg') center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}.slick-dots li{
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0;

    margin: 0 .4rem;
    background-color: $white;
    opacity: 0.2;
}
/* Активная точка */
.slick-dots li.slick-active{
    background-color: $orange;
    opacity: 1;
}
/* Элемент точки */
.slick-dots li button{

}