.navigation {
    background-color: $white;
    padding: .8rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    display: none;

    @media (max-width: 900px) {
        display: block;
    }
}
.navigation__container {
    display: flex;
}
.navigation__item {
    flex: 0 1 20%;
    text-align: center;

    &.active {
        .navigation__icon {
            svg {
                stroke: $orange;
            }
        }

        .navigation__text {
            color: $orange;
        }
    }
}
.navigation__icon {
    svg {
        width: 2.4rem;
        height: 2.4rem;
        stroke: $black;
    }
}
.navigation__text {
    margin-top: 0.4rem;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 130%;
    color: $black;
}