.subnav {
    width: 78%;
    display: none;
    position: absolute;
    top: 3.2rem;
    right: 0;
    padding-right: 6.5rem;
    padding-left: 3.2rem;
    height: 70rem;
    overflow-y: auto;
    padding-bottom: 7rem;

    &.active {
        display: block;
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    @media (max-width: 900px) {
        width: 100%;
        background-color: #fff;
        height: 100%;

        &.show {
            display: block;
        }

        &.active {
            display: none;
        }
    }
}
.subnav__main {
    position: relative;
}
.subnav__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: $black;

    @media (max-width: 900px) {
        margin-left: 4rem;
    }
}
.subnav__back {
    width: 2rem;
    height: 2rem;
    display: flex;

    position: absolute;
    top: 1rem;
    left: 0;

    display: none;

    img {
        width: 100%;
    }

    @media (max-width: 900px) {
        display: block;
    }
}
.subnav__body {
    display: flex;
    margin: 3.6rem -2rem 0;
    flex-wrap: wrap;
}
.subnav__col {
    flex: 0 1 33.333%;
    padding: 0 2rem;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 992px) {
        flex: 0 1 50%;
    }

    @media (max-width: 480px) {
        flex: 1 1 100%;
    }
}
.subnav__item {
    margin-bottom: 3.2rem;
}
.subnav__item-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    color: $black;

    margin-bottom: 1.2rem;
    display: block;

    &:hover {
        color: $orange;
    }
}
.subnav__item-list {
    li {
        margin-bottom: 1.2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.subnav__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: $black;

    &:hover {
        color: $orange;
    }
}