@charset "UTF-8";
html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  background: none;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

address {
  font-style: normal;
}

[class*=__container] {
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  max-width: 120rem;
}

.header {
  margin-top: 2rem;
}
.header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  margin-top: 0;
  padding: 2rem 0;
}
@media (max-width: 769px) {
  .header.fixed {
    position: static;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 769px) {
  .header__top {
    margin-top: 3rem;
  }
}
@media (max-width: 550px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-photo {
  width: 10rem;
  margin-right: 1rem;
}
.header__logo-photo img {
  width: 100%;
}
@media (max-width: 992px) {
  .header__logo-photo {
    width: 5.5rem;
  }
}

.header__text {
  color: #000000;
  font-size: 1rem;
  line-height: 1.4;
}
.header__text span {
  display: block;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 550px) {
  .header__right {
    margin-top: 2rem;
  }
}

.header__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7rem;
}
@media (max-width: 992px) {
  .header__rate .header__text {
    display: none;
  }
}
@media (max-width: 769px) {
  .header__rate {
    margin-right: 3rem;
  }
}
@media (max-width: 550px) {
  .header__rate {
    margin-right: 1rem;
  }
}

.header__rate-value {
  margin-right: 1rem;
}
@media (max-width: 992px) {
  .header__rate-value {
    width: 5.5rem;
  }
  .header__rate-value img {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .header__rate-value {
    width: 4rem;
  }
}

.header__socials {
  margin-right: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .header__socials {
    margin-right: 3rem;
  }
}
@media (max-width: 550px) {
  .header__socials {
    margin-right: 1rem;
  }
}

.header__socials-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials-dot {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.7rem;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#B0DB0F), to(#8DB100));
  background: linear-gradient(180deg, #B0DB0F 0%, #8DB100 100%);
  -webkit-box-shadow: 0px 0.1rem 1rem 0.5rem rgba(100, 179, 58, 0.2);
          box-shadow: 0px 0.1rem 1rem 0.5rem rgba(100, 179, 58, 0.2);
}

.header__socials-body {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50rem;
  margin-right: 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__social:last-child {
  margin-right: 0;
  background: #E9BE28;
}
.header__social:first-child {
  background: #44B96A;
}
.header__social:nth-child(2) {
  background: #28A8E9;
}
.header__social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 992px) {
  .header__social {
    width: 3rem;
    height: 3rem;
  }
  .header__social img {
    width: 1.6rem;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts-phone {
  margin: 0.6rem 0;
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  text-align: right;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  display: block;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .header__contacts-phone {
    font-size: 1.6rem;
  }
}
@media (max-width: 550px) {
  .header__contacts-phone {
    font-size: 1.4rem;
  }
}

.header__contacts-link {
  position: relative;
  font-size: 12px;
  line-height: сфдс(16/12);
  text-align: right;
  color: #8DB100;
  display: inline-block;
}
.header__contacts-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: block;
  height: 0px;
  width: 100%;
  border-bottom: 2px dotted #8DB100;
}

.header__nav {
  border-top: 2px solid rgba(0, 0, 0, 0.07);
  margin-top: 2rem;
  padding-top: 1.5rem;
}
@media (max-width: 769px) {
  .header__nav {
    right: 20vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 0;
    width: 80vw;
    height: 100vh;
    background: #f9f9f9;
    z-index: 999999;
    overflow-y: scroll;
    border-top: 2px solid rgba(0, 0, 0, 0.07);
    margin-top: 0;
    padding-top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.header__nav.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__list li {
  margin-right: 3rem;
  position: relative;
}
.header__list li:hover > .subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px) {
  .header__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}
@media (max-width: 769px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 0;
    max-width: 100% !important;
  }
}

.header__link {
  font-size: 1.4rem;
  line-height: 1.1428571429;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 769px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #000;
    display: block;
  }
}

.header__menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #C60001;
  position: fixed;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 99999;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 51, 161, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 51, 161, 0.1);
  display: none;
}
.header__menu span {
  top: calc(50% - 1px);
  left: calc(50% - 9px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__menu span:after {
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  top: -5px;
  left: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu span:before {
  content: "";
  top: 5px;
  left: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__menu.active span {
  width: 0;
}
.header__menu.active span:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 769px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subnav {
  position: absolute;
  top: 100%;
  left: 0px;
  padding-top: 1.5rem;
  display: none;
}
@media (max-width: 769px) {
  .subnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: auto;
    top: auto;
    padding: 0px;
    margin-top: 10px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0px;
    border-left: 1px solid #DDE0E7;
  }
}

.subnav__body {
  padding: 15px 25px;
  margin: 0px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 20, 30, 0.1);
          box-shadow: 0 2px 3px rgba(10, 20, 30, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
}
@media (max-width: 769px) {
  .subnav__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
  }
}

.subnav__menu {
  margin-right: 3rem;
}
.subnav__menu:last-child {
  margin-right: 0;
}

.subnav__title {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.0714285714;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 1.4rem;
  display: block;
}

.subnav__link {
  line-height: 1.9230769231;
  color: #414141;
  text-transform: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
}

.intro {
  width: 100%;
  height: 100%;
  background: url("/assets/img/intro/intro.jpg") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 7rem;
  padding-bottom: 12rem;
  position: relative;
}
@media (max-width: 769px) {
  .intro:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

@media (max-width: 769px) {
  .intro__container {
    position: relative;
    z-index: 3;
  }
}

.intro__title {
  margin-bottom: 3rem;
  font-size: 5.2rem;
  line-height: 1.3076923077;
  max-width: 50rem;
  font-weight: 400;
}
.intro__title span {
  color: #8DB100;
  font-weight: 700;
}
@media (max-width: 992px) {
  .intro__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .intro__title {
    max-width: 35rem;
  }
}

.intro__subtitle {
  margin-bottom: 5rem;
  font-size: 2.2rem;
  line-height: 2.2727272727;
}
.intro__subtitle span {
  font-weight: 700;
}

.btn {
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#BE0000), to(#EE0100));
  background: linear-gradient(360deg, #BE0000 0%, #EE0100 100%);
  -webkit-box-shadow: 0px 9px 21px rgba(76, 76, 76, 0.1), 0px 4px 0px #b70c00;
          box-shadow: 0px 9px 21px rgba(76, 76, 76, 0.1), 0px 4px 0px #b70c00;
  border-radius: 500px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  min-height: 6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sphere {
  margin-top: 4rem;
}

.sphere__title {
  margin-bottom: 4rem;
}

.sphere__tabs {
  margin-bottom: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px) {
  .sphere__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.sphere__tab {
  width: 25%;
  text-align: center;
}
.sphere__tab.active .sphere__link {
  border-bottom: solid 6px #000;
}
.sphere__tab.active .sphere__link:hover {
  background: none;
  cursor: default;
}
@media (max-width: 769px) {
  .sphere__tab {
    width: 100%;
  }
}

.sphere__link {
  border-bottom: solid 6px #d3d3d3;
  background: #fff;
  color: #231f20;
  font-size: 1.8rem;
  padding: 1.5rem 0.5rem;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sphere__link:hover {
  background: #f9f5e8;
  color: #000000;
}

.sphere__content {
  position: relative;
}

.sphere__panel {
  display: none;
}
.sphere__panel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .sphere__panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sphere__photo {
  width: 60%;
}
.sphere__photo img {
  width: 100%;
}
@media (max-width: 992px) {
  .sphere__photo {
    width: 100%;
  }
}

.sphere__info {
  padding: 35px 55px;
  position: absolute;
  background: #7fbb00;
  right: 0;
  bottom: 0;
  text-align: left;
  width: 50%;
}
@media (max-width: 992px) {
  .sphere__info {
    width: 100%;
    position: static;
  }
}
@media (max-width: 769px) {
  .sphere__info {
    padding: 20px;
  }
}

.sphere__suptitle {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: #fff;
}

.sphere__text {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: #fff;
}

.sphere__buttons {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 480px) {
  .sphere__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sphere__btn {
  background: #fff;
  padding: 10px 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 0.5rem;
}
.sphere__btn:hover {
  background: #f2f2f2;
}
@media (max-width: 480px) {
  .sphere__btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.kinds {
  margin-top: 4rem;
}

.kinds__title {
  margin-bottom: 3rem;
}

.kinds__tabs {
  margin-bottom: 2rem;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.kinds__tab {
  border: 1px solid rgba(0, 0, 0, 0.1411764706);
  border-radius: 24px;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  margin-right: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.kinds__tab.active {
  background-color: #74c044;
  color: white;
  border-color: #74c044;
}

.kinds__content {
  display: none;
}
.kinds__content.active {
  display: block;
}

.kinds__content-title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.kinds__content-text {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.kinds__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.5rem;
}
@media (max-width: 550px) {
  .kinds__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.kinds__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 1.5rem;
}
@media (max-width: 550px) {
  .kinds__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}

.kinds__photo img {
  width: 100%;
}

.kinds__subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
}

.advantages {
  margin-top: 4rem;
}

.advantages__title {
  margin-bottom: 2rem;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -2rem;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 550px) {
  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.advantages__icon {
  height: 12rem;
}
.advantages__icon img {
  width: 8rem;
}

.advantages__subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.advantages__text {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.works {
  margin-top: 4rem;
}

.works__title {
  margin-bottom: 4rem;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
.works__item img {
  width: 100%;
  border-radius: 1.2rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}
.works__item img:hover {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: perspective(1000px) scale(1.03);
          transform: perspective(1000px) scale(1.03);
}
@media (max-width: 992px) {
  .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 550px) {
  .works__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.works__link {
  color: #023a51;
  margin: 0 0 20px;
  text-align: center;
  font-size: 1.8rem;
  display: inline-block;
  width: 100%;
}
.works__link:hover {
  color: #2cbc63;
}

.works__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem -2rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.works__video iframe {
  width: 100%;
}
@media (max-width: 550px) {
  .works__video {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.how {
  margin-top: 4rem;
}

.how__title {
  margin-bottom: 6rem;
}

.how__text {
  font-size: 1.6rem;
}

.how__body {
  margin-top: 6rem;
}

.how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.how__item:last-child {
  margin-bottom: 0;
}

.how__value-number {
  padding: 2.5rem;
  font-size: 3.3rem;
  width: 10rem;
  background: #7fbb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
@media (max-width: 769px) {
  .how__value-number {
    padding: 1.5rem;
    width: 8rem;
  }
}

.how__item-text {
  margin-left: 3rem;
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Bebas Neue", Helvetica, sans-serif;
}
@media (max-width: 769px) {
  .how__item-text {
    font-size: 2.3rem;
  }
}

.cities {
  margin-top: 4rem;
  background: url("/assets/img/cities/map.webp") center top no-repeat;
  background-size: contain;
}

.cities__title {
  margin-bottom: 4rem;
}

.cities__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 769px) {
  .cities__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cities__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 769px) {
  .cities__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  .cities__col:last-child {
    margin-bottom: 0;
  }
}

.cities__value {
  color: #74c044;
  font-size: 8rem;
  line-height: 1;
  font-weight: 500;
}
@media (max-width: 992px) {
  .cities__value {
    font-size: 5rem;
  }
}

.cities__subtitle {
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
}
@media (max-width: 992px) {
  .cities__subtitle {
    font-size: 3rem;
  }
}

.cities__inner {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px) {
  .cities__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cities__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 769px) {
  .cities__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.cities__link {
  color: black;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1rem;
}
.cities__link:hover {
  color: #74c044;
}

.cities__btn {
  text-align: center;
  margin-top: 2rem;
}

.cities__button {
  display: inline-block;
  text-align: center;
  background-color: #74c044;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}
.cities__button:hover {
  background-color: #68af3b;
}

.footer {
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  padding: 0 2rem;
}
@media (max-width: 992px) {
  .footer__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer__item:nth-child(1) {
    display: none;
  }
}
@media (max-width: 550px) {
  .footer__item {
    padding: 0;
  }
  .footer__item:nth-child(1) {
    display: block;
  }
  .footer__item:nth-child(2) {
    display: none;
  }
  .footer__item:nth-child(4) {
    display: none;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.footer__logo {
  width: 6rem;
  margin-right: 3rem;
}
.footer__logo img {
  width: 100%;
}

@media (max-width: 550px) {
  .footer__rate img {
    width: 4rem;
  }
}

.footer__text {
  color: #000000;
  margin-bottom: 12rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}
@media (max-width: 550px) {
  .footer__text {
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom-link {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3333333333;
  text-align: left;
  color: #8DB100;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.footer__bottom-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: block;
  height: 0px;
  width: 100%;
  border-bottom: 2px dotted #8DB100;
}
@media (max-width: 550px) {
  .footer__bottom-link {
    font-size: 1rem;
  }
}

.footer__title {
  margin-bottom: 3rem;
  color: #000000;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
}
@media (max-width: 550px) {
  .footer__title {
    display: none;
  }
}

.footer__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list-icon {
  margin-right: 0.8rem;
}

.footer__link {
  line-height: 120%;
  color: #535050;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 1.2rem;
}

.footer__list-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list-photo {
  margin-right: 1rem;
  max-width: 11rem;
}
.footer__list-photo img {
  width: 100%;
  border-radius: 0.5rem;
}

.footer__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__item-main {
  margin-bottom: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__item-bottom .header__socials {
  margin-right: 0;
}
@media (max-width: 550px) {
  .footer__item-bottom {
    display: none;
  }
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(34, 34, 34, 0.87);
  margin-top: 10rem;
}
@media (max-width: 769px) {
  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__copy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__copy-item:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 769px) {
  .footer__copy-item:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 769px) {
  .footer__copy-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .footer__copy-item:last-child {
    margin-bottom: 0;
  }
}

.footer__copy-link {
  color: #28A8E9;
  text-decoration: underline;
}

.footer__copy-subtitle {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #dbdbdb;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeueBold.woff2") format("woff2"), url("/fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.title-block {
  font-size: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-weight: 700;
}
.title-block span {
  color: #7fbb00;
}
@media (max-width: 769px) {
  .title-block {
    font-size: 3.5rem;
  }
}

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 9990;
}

.minimized {
  cursor: pointer;
  border: 1px solid #FFF;
}

#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 700px;
  height: auto;
  z-index: 9999;
  width: 100%;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 2rem;
}

#magnify img {
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  border-radius: 1.6rem;
}