@font-face {
    font-family: 'Edit Undo BRK';
    src: url('EditUndoBRK.woff2') format('woff2'),
        url('EditUndoBRK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

