@font-face {
    font-family: 'Nord';
    src: url('Nord-Medium.woff2') format('woff2'),
        url('Nord-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redacted Script';
    src: url('RedactedScriptRegular.woff2') format('woff2'),
        url('RedactedScriptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('ComicSansMS.woff2') format('woff2'),
        url('ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nord';
    src: url('Nord-Bold.woff2') format('woff2'),
        url('Nord-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nord';
    src: url('Nord-Regular.woff2') format('woff2'),
        url('Nord-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

