*,*:before,*:after {
    box-sizing: border-box;
}

.menu {
    width: 100%;
    max-width: 240px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 34%);
    background: #fcfcfc;
    border-radius: 7px;
}
.menu__item {
}
.menu__head {
    padding: 9px 15px 11px;
    font-size: 15px;
    color: #666f94;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.menu__submenu {
    list-style: none;
    margin: 0;
    padding: 0;

    background: #e4e5e8;
    display: none;
}

.menu__submenu li {
    padding: 9px 15px 11px;
}

.menu__submenu li a {
    text-decoration: none;
    color: #666f94;
    font-weight: 500;
}