html {font-size: 62.5%;}body,html {margin: 0;padding: 0;height: 100%;}*,*:before,*:after {box-sizing: border-box;}ul, ol, li {list-style: none;margin: 0;padding: 0;}button {border: 0;padding: 0;}h1, h2, h3, h4, h5, h6 {margin: 0;padding:0;}a {text-decoration: none;}p {margin: 0; padding: 0}.wrapper {min-height: 100%;overflow: hidden;display: flex;flex-direction: column;}.main {flex: 1 1 auto;}

.banner {
    width: 100%;
    background-color: #FFC832;

    display: flex;
    position: relative;
    height: auto;
    justify-content: space-between;
    padding: 57px 0;
}
.banner__content {
    width: 60%;
    padding-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 128px;
    line-height: 117.7%;
    color: #242424;  
    margin-bottom: 70px;  
}
.banner__subtitle {
    font-size: 40px;
    line-height: calc(54 / 40);
    color: #242424;    
}
.banner__right {
    width: 50%;
    position: absolute;
    bottom: -3px;
    right: 0;
}
.banner__img {
}
.banner__img img {
    width: 100%;
}
.banner__phone {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(54 / 40);
    color: #FFC832;    

    background-color: #242424;

    max-width: 454px;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

@media (max-width: 1446px) {

    .banner__content {
        width: 65%;
    }

    .banner__title {
        font-size: 90px;
    }

    .banner__subtitle {
        font-size: 30px;
    }

    .banner__right {
        width: 60%;
    }

    .banner__phone {
        max-width: 350px;
    }

}

@media (max-width: 1091px) {
    .banner__subtitle {
        font-size: 26px;
    }
}

@media (max-width: 1000px) {
    .banner__title {
        font-size: 83px;
    }

    .banner__subtitle {
        font-size: 24px;
    }
}

@media (max-width: 992px) {

    .banner__content {
        width: 50%;
    }

    .banner__title {
        font-size: 40px;
    }

    .banner__phone {
        font-size: 30px;
        max-width: 300px;
    }

    .banner__right {
    }

    .banner {
        padding: 50px 0;
    }
}

@media (max-width: 656px) {

    .banner {
        flex-wrap: wrap;
        padding: 30px 0 0 0;
    }

    .banner__content {
        width: 100%;
        max-width: 300px;
        padding-left: 25px;
        margin: auto;
    }

    .banner__title {
        font-size: 44px;
        margin-bottom: 17px;
    }

    .banner__subtitle {
        font-size: 13px;
    }

    .banner__right {
        width: 100%;
        position: static;
        margin-top: 29px;
        margin-bottom: -3px;
    }

    .banner__phone {
        font-size: 21px;
        max-width: 245px;
    }
}