.buy__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__top-type {
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #AAAAAA;
}

.buy__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__top-name {
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #111111;
  margin-right: 2.4rem;
}