.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: url("/assets/img/modal/bg.png") bottom no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    display: none;
    padding: 0 2rem;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(32, 32, 32, 0.8);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &.show {
        display: flex;
    }
}
.modal__dialog {
    position: relative;
    z-index: 10;
    max-width: 700px;
    margin: auto;
    width: 100%;
}
.modal__title {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 5rem;

    @media (max-width: 480px) {
        font-size: 3.5rem;
    }
}
.modal__form {
    max-width: 50rem;

    @media (max-width: 480px) {
        max-width: 30rem;
    }
}
.modal__form-item {
    margin-bottom: 2rem;
    input {
        width: 100%;
        background: #F2F6FA;
        border-radius: 8px;
        min-height: 8.5rem;
    
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 160%;
        color: #7E868E;
        outline: 0;
        padding: 0 2rem;

        @media (max-width: 480px) {
            min-height: 4rem;
        }
    }

    &::placeholder {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 160%;
        color: #7E868E;
    }
}
.modal__form-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #EE775E;
    border-radius: 8px;
    border-radius: 8px;
    min-height: 8.5rem;
    width: 100%;
    text-align: center;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 152%;
    color: #FFFFFF;
    position: relative;
    z-index: 2;

    cursor: pointer;

    &:hover {
        background: darken(#EE775E, 5%);
    }

    @media (max-width: 480px) {
        min-height: 4rem;
    }
}
.modal__close {
    position: absolute;
    top: -5rem;
    right: 0;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        transform: translateY(-5px);
    }
}
.modal__form-checkbox {
    margin-top: 2rem;
    &:before {
        width: 2rem;
        height: 2rem;
        border: 1px solid #F97B61;
    }

    &:after {
        width: 2rem;
        height: 2rem;
    }
}
.modal__form-text {
    font-size: 1.3rem;
    color: #fff;
    padding-left: 3rem;
}