<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="wrapper">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
    
        <footer class="footer">
            {{> footer }}
        </footer>
    </div>

    {{> navigation }}
    {{> modal-catalog }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
